/* datos de contacto colapsables */
.colapsable {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 6px;
}
.activo, .colapsable:hover {
  background: #0A3871;
  color: white;
}
.contenido {
  background: #E5E5E5;
  display: none;
}
.contenedor {
  display: inline-flex;
}
.dato { font-size: 14px; padding: 10px 0; }
a { margin:6px 0 0 40px;}
a:hover { opacity: 50%; background: white; padding: 5px; }

#derechos {
  width: 100%;
  text-align: center;
}